@font-face {
    font-family: 'futura';
    src: url(../fuentes/Futura/Book.ttf);
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: 'AdobeCaslonPro';
    src: url(../fuentes/acaslonpro-regular.otf);
    font-style: normal;
    font-weight: 400;
}

.No-Productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 125px 55px;

}

.titulo-carrito-seguir {
    font-family: 'AdobeCaslonPro';
    text-align: center;
    font-weight: bolder;
    font-size: 46px;
    margin: 0px 0px 17.5px !important;
}

.subtitulo-seguir {
    margin: 0px !important;
    font-size: 17px;
    font-family: 'futura';
    margin: 0px 0px 8px !important;
}



.boton-seguir {
    letter-spacing: 2px;
    background-color: #0EC289;
    border-radius: 60px;
    border: none;
    color: white;
    height: 65px;
    width: 339px;
    padding: 20px 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'futura';
    font-size: 15.6px;
    font-weight: 700;
}


.boton-seguir:hover {
    background-color: #606060;

}

.titulo-subtitulo {
    text-align: center;
    margin: 0px 0px 27.2px !important;
}

.titulo-carrito {
    font-family: 'AdobeCaslonPro';
    text-align: center;
    font-weight: bolder;
    font-size: 46px;
    margin: 16px 0px !important;
}

.subtitulo-carrito {
    font-size: 15px;
    font-family: 'futura';
    padding: 0px 0px 1px;
    color: #3a3a3a;
    text-decoration: underline;
}

th {
    font-size: 13px;
    font-weight: 400 !important;
    font-family: 'futura';
    color: #3a3a3a;
}


.th-producto {
    padding: 27.5px 22px 27.5px 0px !important;

}


.th-precio {
    padding: 27.5px 22px !important;
}

.th-Cantidad {
    padding: 27.5px 22px !important;
}

.th-Total {
    padding: 27.5px 0px 27.5px 22px !important;
}



.td-producto {
    padding: 22px 22px 22px 0px !important;
}



.td-precio {
    padding: 22px !important;
    font-size: 14px;
    font-family: 'futura';
}

.td-Cantidad {
    padding: 22px !important;
}

.td-Total {
    padding: 22px 0px 22px 22px !important;
}

.cantidad-input {
    padding: 10px 5px;
    text-align: center;
    width: 60px;
    height: 40px;
}

.nombre-producto {
    color: #3a3a3a;
    font-size: 17px;
    font-family: 'futura';
    margin: 0px !important;
    font-weight: 700;

}

.descripcion-producto {
    margin: 4px 0px 0px;
    list-style: none;
    padding: 4.3px 0px 0px;
    text-decoration: none;

}

.descripcion-producto li {
    color: #333232;
    font-size: 13px;
    font-weight: 300;
    font-family: 'futura';
    margin: 0px 0px 3.2px;
}

.quitar-producto {

    margin: 9px 0px 0px;

}

.quitar-producto a {
    font-size: 17px;
    font-family: 'futura';
    padding: 0px 0px 1px;
    color: #3a3a3a;
}

.img-carta {
    
    margin: 0 !important;
    width: 63px;
    height: 95px;
}

.tarjeta-carrito{
    margin: 0px 16.25px !important;
    width: 63px;
    height: 95px;
    background: linear-gradient(0deg, #f7ede5, #F7F2EE);
  }
  .tarjeta-espaciado{
    padding: 0px 48px 0px 0px;
  }

.div-display-flex{
    display: flex;
}
