@font-face {
  font-family: 'futura';
  src:url(../fuentes/Futura\ Book.ttf);
  font-weight: 400;
  font-style: light;
}

@font-face {
  font-family: 'AdobeCaslonPro';
  src: url(../fuentes/acaslonpro-regular.otf);
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.headerSup {
  background-color: #3F5850;
  text-align: center;
  color: white;
  font-size: 15px;
  font-family: 'futura';

  padding: 15px 0px 15px;

}

.headerSup p{

  margin: 0px !important; 
}

.headerInf {
  background-color: #F7F2EE;
  color: #3F5850;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.logo-menu {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 40px;

}


.menu {
  display: flex;
  gap: 40px;
  margin-left: 80px;
}

.menu a {
  text-decoration: none;
  color: #3F5850;
  font-weight: 700;
  font-family: 'futura';
  font-size: 13px;
}

.menu a:hover {
  color: #3F5850;
}

.seccion-iconos {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.buscador {
  border: none;
  border-bottom: 1px solid #3F5850;
  background-color: transparent;
  padding-left: 5px;
  color: #3F5850;
  width: 100px;
}

.buscador::placeholder {
  color: #3F5850;
}

.icono {
  font-size: 20px;
  color: #3F5850;
  cursor: pointer;
}

.numcarrito {
  font-size: 12px;
  margin-left: -10px; 
  vertical-align: top;
}

#carrito-panel {
  position: fixed;
  top: 0;
  right: -450px; 
  width: 450px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  overflow-y: auto;
}

.cuerpo-carrito{
  margin: 0px;
}

.titulo-panel{
  font-family: 'AdobeCaslonPro';
  font-size: 30px;
  color: #333232;
  font-weight: bold;
  margin: 10px 0px 0px 15px !important;
  letter-spacing: 1px;
}

.linea-panel{
  border: 1px solid black;
  opacity: 100 !important;
}
.img-panel{
  width: 100px;
  height: 120px;
}
.tarjeta-panel{
  width: 100px;
  height: 150px;
  margin: 0px 0px 0px 15px;
  background: linear-gradient(0deg, #f7ede5, #F7F2EE);
}
#fondo-oscuro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


#fondo-oscuro.active {
  display: block;
}





#carrito-panel.active {
  right: 0;
}

body.no-scroll {
  overflow: hidden;
}



