@font-face {
    font-family: 'futura';
    src:url(../fuentes/Futura/Book.ttf);
    font-weight: 400;
    font-style: light;
}

@font-face {
    font-family: 'AdobeCaslonPro';
    src: url(../fuentes/acaslonpro-regular.otf);
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("../img/Banner.png");
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.2); 
}

.contenedor-banner {
    text-align: center;
    max-width: 80%;
}

.contenedor-banner h2 {
    font-family: 'futura';
    font-size: 18px;
    margin-bottom: 10px;
}

.contenedor-banner h1 {
    font-family: 'AdobeCaslonPro';
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.contenedor-banner button {
    background-color: #94B49C;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/**
Seccion de productos
*/

.seccion1-titulo {
    text-align: center;
    margin-top: 40px;
   
}

.seccion1-titulo h2 {
    font-size: 30px;
    color: #000000;
    font-family: 'AdobeCaslonPro';
}

.seccion1-titulo p {
    color: #333232;
    font-size: 18x;
    font-family: 'futura';
    opacity: 70%;
    
    }


.plato-card {
    background-color: #F7F2EE; 
    padding: 100px 0px 0px ;
    border-color: #F7F2EE;
    margin-bottom: 20px;
}


.plato-img {
    
   width: 351px;
   height: 351px;
}

.btn-anadir {
    font-family: 'futura';
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 8px 0;
    width: 100%;
    opacity: 50%;
    background-color: white;
    transition: background-color 600ms;
}

.plato-card:hover .btn-anadir {
    background-color: #94B49C; 
    color: white;
}

.texto-producto {
 text-align: center;
}

.texto-producto h5 {
    font-family: 'AdobeCaslonPro' !important;
    font-size: 25px ; 
    font-weight: bold;
    color: #3a3a3a;
    margin: 0;
}

.texto-producto p {
    font-family: 'futura' !important;
    font-size: 20px ;
    color: #000000;
    opacity: 60%;
}


.btn-ver-platos {
    background-color: #94B49C;
    color: white;
    font-family: 'futura';
    font-size: 16px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-ver-platos:hover {
    background-color: #C5D7CB; 
}


/**
Seccion2 especialidades
*/

.especialidades-seccion {
    background-color: #E3ECE6; 
    padding: 20px 20px 60px 20px;
}

.especialidades-seccion h2 {
    font-family: 'AdobeCaslonPro';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.especialidades-seccion p {
    font-family: 'futura';
    font-size: 16px;
    margin-bottom: 20px;
}


.correcionImagen{
    min-height: 230.33px;
    max-height: 230.33px;
 
}

.ver-todos, .ver-mas {
    font-family: 'futura';
    font-weight: bold;
    color: black;
    text-decoration: none;
}


.ver-todos:hover, .ver-mas:hover {
    text-decoration: underline;
}

.especialidades-seccion-titulo {
    margin-top: 10px;
    font-family: 'AdobeCaslonPro';
    font-size: 18px;
    font-weight: bold;
}

.especialidades-seccion-texto {
    margin-top: 15px;
    font-family: 'futura';
    font-size: 14px;
    color: #333333;
}


/**
Seccion3 menu-descuento
*/






.menu-seccion-titulo{
font-family: 'AdobeCaslonPro';
font-size: 30px;
color: #FF9966;
font-weight: bold;
margin-left: 20px;
}
.menu-seccion-subtitulo{
    font-size: 15px;
    font-family: 'futura';
    margin-top: 20px;
    margin-left: 20px;
}
.menu-seccion-descuento{
    text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
    color: #FF9966;
    margin-top: 30px;
    margin-left: 20px
}

.menu-seccion-img{
    margin-left: 20px;
    max-height: 380px;
    max-width: 680;
    height: 100%;
}


